<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Maksims Lisnojs">
  <meta name="group" content="310">
  <meta name="group_name" content="VEMEM">
  <meta name="date_created" content="13.09.2023">
  <meta name="date_modify" content="14.09.2023">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/global.css">


  <title>
    <%=title %>
  </title>
</head>



<body>
  <%- include("../partials/navbar.ejs") %>


    <div class="container-fluid mt-3 col-10 col-lg-4">
      <h1>
        <%=title %>
      </h1>
      <form action="/create/product" method="POST">

        <!-- Barcode -->
        <h2>Barcode</h2>
        <p>This is a new product.Please fill in the fields!:)</p>

        <div class="mb-3 mt-3">
          <label for="prod_code">Barcode:</label>
          <input readonly type="text" class="form-control" id="barcode"
            name="prod_code" value="<%=barcode %>" />
        </div>


        <h1>Form</h1>
        <!-- Product Name -->
        <div class="mb-3 mt-3">
          <label for="prod_name">Product Name:</label>
          <input type="text" class="form-control" id="prod_name" placeholder="Enter product name" name="prod_name" maxlength="40"/>
        </div>


        <!-- Type -->
        <div class="mb-3 mt-3">
          <label for="prod_name">Product Type:</label>
          <select class="form-select" id="prod_type" name="prod_type">
            <option value="" disabled selected>Choose your option</option>

            <% types.forEach(element=>
              { %>
              <option value=<%=element.id%>><%=element.name%>
              </option>

              <%}) %>

          </select>
        </div>


        <!-- Serial Num -->
        <div class="mb-3">
          <label for="serial_num">Serial Number:</label>
          <input type="text" class="form-control" id="serial_num" placeholder="Enter Serial Number" name="serial_num" required/>
        </div>


        <!-- Import date -->
        <div class="mb-3">
          <label for="import_date">Import Date:</label>
          <input type="date" class="form-control" id="import_date" placeholder="Enter import date" name="import_date" required />
        </div>


        <!-- Price and Quantity -->
        <div class="row mb-3">

          <!-- Quantity -->
          <div class="col">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" class="form-control" placeholder="Enter Quantity" name="quantity" required min="1" max="1000"/>
          </div>


          <!-- Price -->
          <div class="col">
            <label for="price">Price:</label>
            <input type="number" id="price" class="form-control" placeholder="Enter Price" name="price" required min="1" step="0.01"/>
          </div>


        </div>
        </br>

        <!-- Submit -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary text" style="width: 200px">Submit</button>
        </div>

      </form>
    </div>


    <%- include("../partials/footer.ejs") %>
</body>

</html>