<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Eduards JÄkobsons" />
    <meta name="group" content="310" />
    <meta name="group_name" content="VEMEM" />
    <meta name="date_created" content="21.09.2023" />
    <meta name="date_modify" content="21.09.2023" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title><%=title %></title>
  </head>

  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container mt-3">
      <h2>Exported Products</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Exporter</th>
            <th>Quantity</th>
            <th>Object</th>
            <th>Export Date</th>
          </tr>
        </thead>
        <tbody>
          <% exported_products.forEach(element => { %>
          <tr>
            <th><%=element.name%></th>
            <th><%=element.exporter%></th>
            <th><%=element.quantity%></th>
            <th><%=element.object%></th>
            <th><%=element.removedate%></th>
          </tr>
          <%}) %>
        </tbody>
      </table>
    </div>
    <%- include("../partials/pagination.ejs") %>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
