<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Vladislavs Teclavs" />
	<meta name="group" content="310" />
	<meta name="group_name" content="VEMEM" />
	<meta name="date_created" content="13.09.2023" />
	<meta name="date_modify" content="29.10.2023" />
  <link rel="stylesheet" href="/styles/global.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
	<title>
		<%=title %>
	</title>
</head>

<body>
	<%- include("../partials/navbar.ejs") %>

		<div class="container mt-3">
			<form class="edit-prod-form">
				<input type="hidden" name="id" value=<%=prod.id %>>
				<input name="btn" class="btn btn-outline-primary" type="submit" value="Edit">
			</form>

			<form class="delete-prod-form">
				<input type="hidden" name="id" value=<%=prod.id %>>
				<input type="submit" class="btn btn-outline-danger" value="Delete">
			</form>



			<div class="row row-cols-1 row-cols-lg-2">

				<div class="col">
					<div class="data">
						<h1>
							<span class="prod-name">
								<%= prod.name %>
							</span>
						</h1>

						<hr class="divider">

						<p>Serial number: <%= prod.serial_num %>
						</p>
						<p>Barcode: <span class="prod-serial-number">
								<%= prod.barcode %>
							</span>
						</p>
						<p>Type: <span class="prod-type">
								<%= prod.type %>
							</span>
						</p>
						<p>Creator: <%= prod.user %>
						</p>

						<hr class="divider">

						<p>Quantity: <span class="prod-quantity">
								<%= prod.quantity %>
							</span>
						</p>
						<h4>Cost: <span class="prod-cost">
								<%= prod.cost %>$
							</span></h4>

						<hr class="divider">
					</div>


					<form class="edit-form" style="display: none;">
						<input type="button" name="submit" class="btn btn-outline-primary" value="Submit">
						<input type="button" name="cancel" class="btn btn-outline-danger" value="Cancel">

						<div class="mb-3">
							<label class="form-label">Name:</label>
							<input type="text" class="form-control prod-name-input" placeholder="Product Name"
								value="<%= prod.name %>">
						</div>

						<hr class="divider mt-3 mb-3">

						<div class="mb-3">
							<label class="form-label">Serial number:</label>
							<input type="text" class="form-control prod-serial-num-input" value="<%= prod.serial_num %>">
						</div>

						<div class="mb-3">
							<label class="form-label">Barcode:</label>
							<input type="text" class="form-control prod-barcode-input" value="<%= prod.barcode %>">
						</div>

						<div class="mb-3">
							<label class="form-label">Type:</label>
							<select class="form-select" id="prod_type" name="prod_type">
								<option value="" disabled selected>
									<%= prod.type %>
								</option>

								<% types.forEach(element=>
									{ %>
									<option value=<%=element.id%>><%=element.name%>
									</option>

									<%}) %>

							</select>
						</div>

						<div class="mb-3">
							<label class="form-label">Creator:</label>
							<input disabled type="text" class="form-control prod-user-input" value="<%= prod.user %>">
						</div>

						<hr class="divider mt-3 mb-3">

						<div class="mb-3">
							<label class="form-label">Quantity:</label>
							<input type="number" class="form-control prod-quantity-input" value="<%= prod.quantity %>">
						</div>

						<div class="mb-3">
							<label class="form-label">Cost:</label>
							<div class="input-group">
								<input type="number" class="form-control prod-cost-input" value="<%= prod.cost %>">
								<span class="input-group-text">$</span>
							</div>
						</div>

						<hr class="divider mt-3 mb-3">
					</form>


					<form action="/export/product/" method="post">
						<legend>Export Product</legend>
						<div class="mb-3">
							<label for="quantity" class="form-label">Write quantity which you want export:</label>
							<input type="number" id="quantity" class="form-control" name="quantity"
								placeholder="Enter quantity">
						</div>

						<div class="mb-3">
							<label for="object" class="form-label">Where exported to(Object name):</label>
							<input type="text" id="object" class="form-control" name="object" placeholder="Enter object name">
						</div>

						<div class="mb-3">
							<label for="date" class="form-label">Date export:</label>
							<input type="date" id="date" class="form-control" name="date" placeholder="Enter date">
						</div>

						<input type="hidden" name="prod_id" value="<%= prod.id %>">

						<input class="btn btn-outline-success" type="submit" value="Export product">
					</form>

				</div>

				<div class="col">
					<div class="container mt-3">
						<h2>Exported Products</h2>

						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Exporter</th>
									<th>Quantity</th>
									<th>Object</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<% exported_products.forEach(element=> { %>
									<tr>
										<th>
											<%=element.name%>
										</th>
										<th>
											<%=element.exporter%>
										</th>
										<th>
											<%=element.quantity%>
										</th>
										<th>
											<%=element.object%>
										</th>
										<th>
											<%=element.removedate%>
										</th>
									</tr>
									<%}) %>
							</tbody>
						</table>
					</div>


					<div class="container mt-3">
						<h2>Imported Products</h2>

						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Importer</th>
									<th>Quantity</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<% imported_products.forEach(element=> { %>
									<tr>
										<th>
											<%=element.name%>
										</th>
										<th>
											<%=element.importer%>
										</th>
										<th>
											<%=element.quantity%>
										</th>
										<th>
											<%=element.deliverydate%>
										</th>
									</tr>
									<%}) %>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

		<%- include("../partials/footer.ejs") %>
</body>
<script src="/scripts/prodDeleteEdit.js"></script>

</html>