<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Edijs Kalnins" />
	<meta name="group" content="310" />
	<meta name="group_name" content="VEMEM" />
	<meta name="date_created" content="13.09.2023" />
	<meta name="date_modify" content="14.09.2023" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
	<title>
		<%=title %>
	</title>
</head>

<body>
	<%- include("../partials/navbar.ejs") %>

		<div class="container mt-3">
			<button class="btn  btn-outline-primary">Edit</button>
			<button class="btn  btn-outline-danger">Delete</button>


			<div class="row row-cols-1 row-cols-lg-2">

				<div class="col">
					<h1><%= prod.name %></h1>

					<hr class="divider">

					<p>Serial number: <%= prod.serial_num %></p>
					<p>Barcode: <%= prod.barcode %></p>
					<p>Type: <%= prod.type %></p>
					<p>Creator: <%= prod.user %></p>

					<hr class="divider">
					
					<p>Quantity: <%= prod.quantity %></p>
					<h4>Cost: <span class="cost"><%= prod.cost %>$</span></h4>

					<hr class="divider">
					

					<div class="row row-cols-1 row-cols-lg-2">
						<div class="col">
							<form action="">
								<div class="input-group mb-3">
									<input class="form-control" type="number" placeholder="Write product quantity">
									<input class="btn  btn-outline-success" type="submit" value="Buy">
								</div>

								<input type="hidden" name="prod_id" value="<%= prod.id %>">
							</form>
						</div>

					</div>
				</div>

				<div class="col">Hello col 2</div>

			</div>
		</div>

		<%- include("../partials/footer.ejs") %>
</body>

</html>