<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Vladislavs Teclavs" />
  <meta name="group" content="310" />
  <meta name="group_name" content="VEMEM" />
  <meta name="date_created" content="13.09.2023" />
  <meta name="date_modify" content="29.10.2023" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/global.css" />
  <title>
    <%=title %>
  </title>
</head>

<body>
  <%- include("../partials/navbar.ejs") %>

    <div class="container-fluid col-md-8 col-10">

      <!-- Kamera -->
      <div id="reader"></div>

      <form class="form d-flex m-0 me-3 pt-4" role="search" method="get" action="/storage/">
        <div class="input-group">
        <input class="form-control me-2v search" type="search" placeholder="Search" aria-label="Search" name="query"
          id="search" value="<%= pagination.search %>" />
          <button class="camera-btn btn btn-outline-secondary" type="button">
            <!-- Kamera icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera"
              viewBox="0 0 16 16">
              <path
                d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
              <path
                d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
            </svg>
            | Use Camera
          </button>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>

      </form>

      <!-- foreach lai izvadīt visus produktus -->
      <% if (products.length < 1) { %>
        <h3>NO DATA</h3>
        <% } else { %>
          <% products.forEach(element=> { %>

            <!-- produkts -->
            <div class="card m-3">
              <div class="row p-1">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                  <svg id="barcode<%=element.id %>" class="img-fluid"></svg>
                </div>

                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%=element.name %>
                    </h5>


                    <p class="card-text">
                      type: <%=element.type %><br />
                        quantuty: <%=element.quantity %><br />
                          serial num: <%=element.serial_num %>
                    </p>

                    <p class="card-text">
                      <small class="text-body-secondary">Author: <%=element.user %></small>
                    </p>
                  </div>
                </div>

                <div class="col d-flex flex-column justify-content-center align-items-center">
                  <h1 class="m-2">$<%=element.cost %>
                  </h1>
                  <a class="btn btn-outline-info btn-lg" href="/storage/product/<%=element.id %>">Buy</a>
                </div>
              </div>
            </div>

            <% }) %>
              <% } %> <%- include("../partials/pagination.ejs") %>
    </div>

    <%- include("../partials/footer.ejs") %>
</body>
<!-- Kameras script imports -->
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
  
  const button = document.querySelector(".camera-btn");
  const form = document.querySelector(".form");


  let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader",
    { fps: 10, qrbox: { width: 250, height: 250 } },
    verbose = false);
// Kamera
  let cameraBool = false;
  button.addEventListener("click", () => {
    if (!cameraBool) {
      html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    }
  });

  function onScanSuccess(decodedText, decodedResult) {
    form.query.value = decodedText;
    html5QrcodeScanner.clear();
  }

  function onScanFailure(error) {
    console.warn(`Code scan error = ${error}`);
  }
</script>
<!-- barcode scripts veido no numuriem barcodus -->
<script src="https://unpkg.com/jsbarcode@latest/dist/JsBarcode.all.min.js"></script>
<script>
  let products = JSON.parse(`<%- JSON.stringify(products) %>`);

  products.forEach((element) => {
    JsBarcode(`#barcode${element.id}`, element.barcode);
  });
</script>

</html>